@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Hide Google reCAPTCHA badge */
.grecaptcha-badge {
  z-index: -1000 !important;
  visibility: hidden !important;
}
